<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/F4/lab1/F4_ans_lab1c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1c - Understanding Your Data

Please use the [**Open Food Facts**](https://www.kaggle.com/openfoodfacts/world-food-facts/data) dataset for this exercise.

### Step 1. Download the dataset to your computer and unzip it.

### Step 2. Use the tsv file and assign it to a dataframe called food

In [43]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
import pandas as pd
file_path = '/content/drive/MyDrive/Colab Notebooks/en.openfoodfacts.org.products.tsv'
food = pd.read_csv(file_path, sep="\t", low_memory=False)

### Step 3. See the first 5 entries

In [46]:
print(food.head(5))

            code                                                url  \
0  0000000003087  http://world-en.openfoodfacts.org/product/0000...
1  0000000004530  http://world-en.openfoodfacts.org/product/0000...
2  0000000004559  http://world-en.openfoodfacts.org/product/0000...
3  0000000016087  http://world-en.openfoodfacts.org/product/0000...
4  0000000016094  http://world-en.openfoodfacts.org/product/0000...

                      creator   created_t      created_datetime  \
0  openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3             usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4             usda-ndb-import  1489055653  2017-03-09T10:34:13Z

  last_modified_t last_modified_datetime                    product_name  \
0      1474103893   2016-09-17T09:18:13Z              Farine de bl√© noir
1      1489069957   2017-03-09T14:32:37Z  Banana Chips Sweetened (Whole)
2      1489069957   2017-03-09T14:32:37Z                         Peanuts
3      1489055731   2017-03-09T10:35:31Z          Organic Salted Nut Mix
4      1489055653   2017-03-09T10:34:13Z                 Organic Polenta

  generic_name quantity  ... fruits-vegetables-nuts_100g  \
0          NaN      1kg  ...                         NaN
1          NaN      NaN  ...                         NaN
2          NaN      NaN  ...                         NaN
3          NaN      NaN  ...                         NaN
4          NaN      NaN  ...                         NaN

  fruits-vegetables-nuts-estimate_100g collagen-meat-protein-ratio_100g  \
0                                  NaN                              NaN
1                                  NaN                              NaN
2                                  NaN                              NaN
3                                  NaN                              NaN
4                                  NaN                              NaN

  cocoa_100g chlorophyl_100g carbon-footprint_100g nutrition-score-fr_100g  \
0        NaN             NaN                   NaN                     NaN
1        NaN             NaN                   NaN                    14.0
2        NaN             NaN                   NaN                     0.0
3        NaN             NaN                   NaN                    12.0
4        NaN             NaN                   NaN                     NaN

  nutrition-score-uk_100g glycemic-index_100g water-hardness_100g
0                     NaN                 NaN                 NaN
1                    14.0                 NaN                 NaN
2                     0.0                 NaN                 NaN
3                    12.0                 NaN                 NaN
4                     NaN                 NaN                 NaN

[5 rows x 163 columns]

### Step 4. What is the number of observations in the dataset?

In [47]:
num_observations = food.shape[0]
print(f"The number of observations in the dataset is: {num_observations}")

The number of observations in the dataset is: 356027

### Step 5. What is the number of columns in the dataset?

In [48]:
Number_of_column = food.shape[1]
print(f"Number of Columns: {Number_of_column}")

Number of Columns: 163

### Step 6. Print the name of all the columns.

In [49]:
print(food.columns)

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

### Step 7. What is the name of 105th column?

In [50]:
column_name_105th = food.columns[104]

print(f"The name of the 105th column is: {column_name_105th}")

The name of the 105th column is: -glucose_100g

### Step 8. What is the type of the observations of the 105th column?

In [51]:
column_105_data_type = food.iloc[:, 104].dtype

print(f"The data type of the observations in the 105th column is: {column_105_data_type}")

The data type of the observations in the 105th column is: float64

### Step 9. How is the dataset indexed?

In [52]:
# Check the index type
if food.index.equals(pd.RangeIndex(start=0, stop=len(food))):
    print("The dataset is indexed using the default integer-based row index.")
else:
    print("The dataset is indexed using one or more user-defined columns as the index.")

The dataset is indexed using the default integer-based row index.

### Step 10. What is the product name of the 19th observation?

In [53]:
product_name_19th_observation = food.loc[18, "product_name"]
print(f"The product name of the 19th observation is: {product_name_19th_observation}")

The product name of the 19th observation is: Lotus Organic Brown Jasmine Rice